body {
    font-family: 'Lato', sans-serif;
}
#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.7em;
}
#instructions {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
span#greenLink {
    color: green;
}
span#redLink {
    color: red;
}
.buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
input[type="radio"] {
    margin: 0 10px 0 10px;
}
#tooltip {
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    line-height: 20px
}
svg {
    display: block;
    margin: 0 auto;
}
path {
    fill: none;
}
.arrowhead {
    fill: gray;
}
.link {
    stroke: gray;
    stroke-width: 1.5px;
    stroke-opacity: 0.4;
}
.node {
    stroke: gray;
    stroke-width: 0.5px;
}
